.footer .conteiner {
    display: flex;
    gap: 70px;
    align-items: baseline;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--footer-bg);
}



.addr {
    margin-top: 20px;

    font-style: normal;

    color: #ffffff;
}

.addr>.list {
    margin-top: 9px;
}

.link.addr {
    color: rgba(255, 255, 255, 0.6);
    
    &:not(:first-child) {
        margin-top: 9px;
    }
}




.footer-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.footer-text {

    font-style: normal;
    font-weight: 700;

    text-transform: uppercase;

    color: #FFFFFF;
}

.footer-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--Logo-bt-link);
    }

}


.footer-list-icon {
    fill: #ffffff;
}

.footer-div-for-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-form {
    display: flex;

}

.footer-form-input {

    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;

    display: block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    outline: none;
    width: 358px;
    height: 50px;
    background-color: inherit;
    color: var(--bg-color);

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    cursor: text;

    
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }

}



.btn-send {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-span-send {

    margin-left: 10px;
}

.footer-form-send {
    display: block;
    fill: var(--bg-color);
}