.section.nopad {
    padding-bottom: 0;
}

.item-osob {
    width: 270px;
}

.item-osob:not(:first-child) {
    margin-left: 30px;
}

.osobenost {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--headers-text-color);
}

.osobenost-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}


.osob-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    background-color: var(--sec-bg-color);
    margin-bottom: 30px;
}


.osob-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon);

}