.item-team {
    background-color: var(--bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.item-team:not(:first-child) {
    margin-left: 30px;
}

.team-div {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.teamer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--headers-text-color);
}

.prof {
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}



.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        background-color: var(--Logo-bt-link);
    }

    &:hover .social-list-icon,
    &:focus .social-list-icon {
        fill: #ffffff;
    }
}

.social-list-icon {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}