.btn {
    display: block;
    min-width: 200px;
    padding: 8px 28px;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0);

    margin-left: auto;
    margin-right: auto;

    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--Logo-bt-link);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    font-family: inherit;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}

