.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transition-property: visibility, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition-property: visibility, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    width: 528px;
    min-height: 581px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-btn-svg {
    display: block;
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;


    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .modal-btn-svg {
        fill: var(--Logo-bt-link);
    }
}








.modal-text {
    margin-bottom: 12px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--headers-text-color);
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}

.modal-form-input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    width: 100%;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
}

.modal-form-input:hover,
.modal-form-input:focus,
.modal-form-input:focus-visible {
    border-color: var(--Logo-bt-link);
}

.modal-form-message {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: none;
    height: 120px;

    resize: none;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:hover,
.modal-form-message:focus,
.modal-form-message:focus-visible {
    border-color: var(--Logo-bt-link);
}

.modal-div-for-svg {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.modal-svg {
    position: absolute;
    top: 50%;
    left: 21px;
    transform: translate(-50%, -50%);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover+.modal-svg,
.modal-form-input:focus+.modal-svg,
.modal-form-input:focus-visible+.modal-svg {
    fill: var(--Logo-bt-link);
}

.modal-form-check-desk {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-span-galochka {
    display: flex;
    width: 16px;
    height: 15px;
    border: 2px solid var(--headers-text-color);
    border-radius: 2px;
    margin-right: 7px;
    justify-content: center;
    align-items: center;

    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-galochka {
    display: block;
    opacity: 0;
    fill: var(--bg-color);

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked+.modal-form-check-desk .modal-span-galochka {
    background-color: var(--Logo-bt-link);
    border-color: var(--Logo-bt-link);
    outline: none;
}

.modal-form-check:checked+.modal-form-check-desk .modal-galochka {
    opacity: 1;

}

.modal-form-check:focus+.modal-form-check-desk .modal-span-galochka,
.modal-form-check:hover+.modal-form-check-desk .modal-span-galochka {
    border-color: var(--Logo-bt-link);
}



.bt-submit {
    margin-top: 30px;
}

.modal__polityci {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}