:root {
    --primary-text-color: #757575;
    --headers-text-color: #212121;
    --bg-color: #ffffff;
    --sec-bg-color: #F5F4FA;
    --footer-adr-text: rgba(255, 255, 255, 0.6);
    --footer-bg: #2F303A;
    --Logo-bt-link: #2196F3;
    --icon: #AFB1B8;
}